<%= form_with(model: household_schedule, local: true) do |form| %>
  <% if household_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(household_schedule.errors.count, "error") %> prohibited this household_schedule from being saved:</h2>

      <ul>
      <% household_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.number_field :address %>
  </div>

  <div class="field">
    <%= form.label :form_number %>
    <%= form.text_field :form_number %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :enumeration_block_number %>
    <%= form.text_field :enumeration_block_number %>
  </div>

  <div class="field">
    <%= form.label :enumeration_sub_block_number %>
    <%= form.text_field :enumeration_sub_block_number %>
  </div>

  <div class="field">
    <%= form.label :houselist_block_number %>
    <%= form.text_field :houselist_block_number %>
  </div>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="field">
    <%= form.label :population_m %>
    <%= form.number_field :population_m %>
  </div>

  <div class="field">
    <%= form.label :population_f %>
    <%= form.number_field :population_f %>
  </div>

  <div class="field">
    <%= form.label :population_o %>
    <%= form.number_field :population_o %>
  </div>

  <div class="field">
    <%= form.label :young_m %>
    <%= form.number_field :young_m %>
  </div>

  <div class="field">
    <%= form.label :young_f %>
    <%= form.number_field :young_f %>
  </div>

  <div class="field">
    <%= form.label :young_o %>
    <%= form.number_field :young_o %>
  </div>

  <div class="field">
    <%= form.label :literate_m %>
    <%= form.number_field :literate_m %>
  </div>

  <div class="field">
    <%= form.label :literate_f %>
    <%= form.number_field :literate_f %>
  </div>

  <div class="field">
    <%= form.label :literate_o %>
    <%= form.number_field :literate_o %>
  </div>

  <div class="field">
    <%= form.label :illiterate_m %>
    <%= form.number_field :illiterate_m %>
  </div>

  <div class="field">
    <%= form.label :illiterate_f %>
    <%= form.number_field :illiterate_f %>
  </div>

  <div class="field">
    <%= form.label :illiterate_o %>
    <%= form.number_field :illiterate_o %>
  </div>

  <div class="field">
    <%= form.label :respondent %>
    <%= form.text_field :respondent %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :enumerator %>
    <%= form.number_field :enumerator %>
  </div>

  <div class="field">
    <%= form.label :supervisor %>
    <%= form.number_field :supervisor %>
  </div>

  <div class="field">
    <%= form.label :filing_date %>
    <%= form.datetime_select :filing_date %>
  </div>

  <div class="field">
    <%= form.label :census %>
    <%= form.number_field :census %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
