<p id="notice"><%= notice %></p>

<h1>Household Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Form number</th>
      <th>Status</th>
      <th>Enumeration block number</th>
      <th>Enumeration sub block number</th>
      <th>Houselist block number</th>
      <th>Serial number</th>
      <th>Type</th>
      <th>Details</th>
      <th>Population m</th>
      <th>Population f</th>
      <th>Population o</th>
      <th>Young m</th>
      <th>Young f</th>
      <th>Young o</th>
      <th>Literate m</th>
      <th>Literate f</th>
      <th>Literate o</th>
      <th>Illiterate m</th>
      <th>Illiterate f</th>
      <th>Illiterate o</th>
      <th>Respondent</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Enumerator</th>
      <th>Supervisor</th>
      <th>Filing date</th>
      <th>Census</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @household_schedules.each do |household_schedule| %>
      <tr>
        <td><%= household_schedule.address %></td>
        <td><%= household_schedule.form_number %></td>
        <td><%= household_schedule.status %></td>
        <td><%= household_schedule.enumeration_block_number %></td>
        <td><%= household_schedule.enumeration_sub_block_number %></td>
        <td><%= household_schedule.houselist_block_number %></td>
        <td><%= household_schedule.serial_number %></td>
        <td><%= household_schedule.type %></td>
        <td><%= household_schedule.details %></td>
        <td><%= household_schedule.population_m %></td>
        <td><%= household_schedule.population_f %></td>
        <td><%= household_schedule.population_o %></td>
        <td><%= household_schedule.young_m %></td>
        <td><%= household_schedule.young_f %></td>
        <td><%= household_schedule.young_o %></td>
        <td><%= household_schedule.literate_m %></td>
        <td><%= household_schedule.literate_f %></td>
        <td><%= household_schedule.literate_o %></td>
        <td><%= household_schedule.illiterate_m %></td>
        <td><%= household_schedule.illiterate_f %></td>
        <td><%= household_schedule.illiterate_o %></td>
        <td><%= household_schedule.respondent %></td>
        <td><%= household_schedule.email %></td>
        <td><%= household_schedule.phone %></td>
        <td><%= household_schedule.enumerator %></td>
        <td><%= household_schedule.supervisor %></td>
        <td><%= household_schedule.filing_date %></td>
        <td><%= household_schedule.census %></td>
        <td><%= link_to 'Show', household_schedule %></td>
        <td><%= link_to 'Edit', edit_household_schedule_path(household_schedule) %></td>
        <td><%= link_to 'Destroy', household_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Household Schedule', new_household_schedule_path %>
