<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @household_schedule.address %>
</p>

<p>
  <strong>Form number:</strong>
  <%= @household_schedule.form_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @household_schedule.status %>
</p>

<p>
  <strong>Enumeration block number:</strong>
  <%= @household_schedule.enumeration_block_number %>
</p>

<p>
  <strong>Enumeration sub block number:</strong>
  <%= @household_schedule.enumeration_sub_block_number %>
</p>

<p>
  <strong>Houselist block number:</strong>
  <%= @household_schedule.houselist_block_number %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @household_schedule.serial_number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @household_schedule.type %>
</p>

<p>
  <strong>Details:</strong>
  <%= @household_schedule.details %>
</p>

<p>
  <strong>Population m:</strong>
  <%= @household_schedule.population_m %>
</p>

<p>
  <strong>Population f:</strong>
  <%= @household_schedule.population_f %>
</p>

<p>
  <strong>Population o:</strong>
  <%= @household_schedule.population_o %>
</p>

<p>
  <strong>Young m:</strong>
  <%= @household_schedule.young_m %>
</p>

<p>
  <strong>Young f:</strong>
  <%= @household_schedule.young_f %>
</p>

<p>
  <strong>Young o:</strong>
  <%= @household_schedule.young_o %>
</p>

<p>
  <strong>Literate m:</strong>
  <%= @household_schedule.literate_m %>
</p>

<p>
  <strong>Literate f:</strong>
  <%= @household_schedule.literate_f %>
</p>

<p>
  <strong>Literate o:</strong>
  <%= @household_schedule.literate_o %>
</p>

<p>
  <strong>Illiterate m:</strong>
  <%= @household_schedule.illiterate_m %>
</p>

<p>
  <strong>Illiterate f:</strong>
  <%= @household_schedule.illiterate_f %>
</p>

<p>
  <strong>Illiterate o:</strong>
  <%= @household_schedule.illiterate_o %>
</p>

<p>
  <strong>Respondent:</strong>
  <%= @household_schedule.respondent %>
</p>

<p>
  <strong>Email:</strong>
  <%= @household_schedule.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @household_schedule.phone %>
</p>

<p>
  <strong>Enumerator:</strong>
  <%= @household_schedule.enumerator %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @household_schedule.supervisor %>
</p>

<p>
  <strong>Filing date:</strong>
  <%= @household_schedule.filing_date %>
</p>

<p>
  <strong>Census:</strong>
  <%= @household_schedule.census %>
</p>

<%= link_to 'Edit', edit_household_schedule_path(@household_schedule) %> |
<%= link_to 'Back', household_schedules_path %>
