<p id="notice"><%= notice %></p>

<h1>Officers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Badge number</th>
      <th>Designation</th>
      <th>Email</th>
      <th>Official contact</th>
      <th>Access</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td><%= officer.name %></td>
        <td><%= officer.badge_number %></td>
        <td><%= officer.designation %></td>
        <td><%= officer.email %></td>
        <td><%= officer.official_contact %></td>
        <td><%= officer.access %></td>
        <td><%= link_to 'Show', officer %></td>
        <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
        <td><%= link_to 'Destroy', officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Officer', new_officer_path %>
