<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @officer.name %>
</p>

<p>
  <strong>Badge number:</strong>
  <%= @officer.badge_number %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @officer.designation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @officer.email %>
</p>

<p>
  <strong>Official contact:</strong>
  <%= @officer.official_contact %>
</p>

<p>
  <strong>Access:</strong>
  <%= @officer.access %>
</p>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
