<%= form_with(model: censu, local: true) do |form| %>
  <% if censu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(censu.errors.count, "error") %> prohibited this censu from being saved:</h2>

      <ul>
      <% censu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_start %>
    <%= form.text_field :date_start %>
  </div>

  <div class="field">
    <%= form.label :date, %>
    <%= form.text_field :date, %>
  </div>

  <div class="field">
    <%= form.label :date_end %>
    <%= form.text_field :date_end %>
  </div>

  <div class="field">
    <%= form.label :date, %>
    <%= form.text_field :date, %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
