<p id="notice"><%= notice %></p>

<h1>Census</h1>

<table>
  <thead>
    <tr>
      <th>Date start</th>
      <th>Date,</th>
      <th>Date end</th>
      <th>Date,</th>
      <th>Year</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @census.each do |censu| %>
      <tr>
        <td><%= censu.date_start %></td>
        <td><%= censu.date, %></td>
        <td><%= censu.date_end %></td>
        <td><%= censu.date, %></td>
        <td><%= censu.year %></td>
        <td><%= censu.string %></td>
        <td><%= link_to 'Show', censu %></td>
        <td><%= link_to 'Edit', edit_censu_path(censu) %></td>
        <td><%= link_to 'Destroy', censu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Censu', new_censu_path %>
