<p id="notice"><%= notice %></p>

<p>
  <strong>Date start:</strong>
  <%= @censu.date_start %>
</p>

<p>
  <strong>Date,:</strong>
  <%= @censu.date, %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @censu.date_end %>
</p>

<p>
  <strong>Date,:</strong>
  <%= @censu.date, %>
</p>

<p>
  <strong>Year:</strong>
  <%= @censu.year %>
</p>

<p>
  <strong>String:</strong>
  <%= @censu.string %>
</p>

<%= link_to 'Edit', edit_censu_path(@censu) %> |
<%= link_to 'Back', census_path %>
