<%= form_with(model: entry_house, local: true) do |form| %>
  <% if entry_house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry_house.errors.count, "error") %> prohibited this entry_house from being saved:</h2>

      <ul>
      <% entry_house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.number_field :address %>
  </div>

  <div class="field">
    <%= form.label :housing_schedule %>
    <%= form.number_field :housing_schedule %>
  </div>

  <div class="field">
    <%= form.label :census_house_number %>
    <%= form.text_field :census_house_number %>
  </div>

  <div class="field">
    <%= form.label :predominant_material_floor %>
    <%= form.text_field :predominant_material_floor %>
  </div>

  <div class="field">
    <%= form.label :predominant_material_wall %>
    <%= form.text_field :predominant_material_wall %>
  </div>

  <div class="field">
    <%= form.label :predominant_material_roof %>
    <%= form.text_field :predominant_material_roof %>
  </div>

  <div class="field">
    <%= form.label :house_use %>
    <%= form.text_field :house_use %>
  </div>

  <div class="field">
    <%= form.label :actual_house_use %>
    <%= form.text_field :actual_house_use %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>

  <div class="field">
    <%= form.label :house_number %>
    <%= form.text_field :house_number %>
  </div>

  <div class="field">
    <%= form.label :residing_m %>
    <%= form.number_field :residing_m %>
  </div>

  <div class="field">
    <%= form.label :residing_f %>
    <%= form.number_field :residing_f %>
  </div>

  <div class="field">
    <%= form.label :residing_o %>
    <%= form.number_field :residing_o %>
  </div>

  <div class="field">
    <%= form.label :house_head %>
    <%= form.text_field :house_head %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :backward %>
    <%= form.text_field :backward %>
  </div>

  <div class="field">
    <%= form.label :ownership %>
    <%= form.text_field :ownership %>
  </div>

  <div class="field">
    <%= form.label :dwelling_rooms %>
    <%= form.number_field :dwelling_rooms %>
  </div>

  <div class="field">
    <%= form.label :married_couples %>
    <%= form.number_field :married_couples %>
  </div>

  <div class="field">
    <%= form.label :drinking_water %>
    <%= form.text_field :drinking_water %>
  </div>

  <div class="field">
    <%= form.label :lighting %>
    <%= form.text_field :lighting %>
  </div>

  <div class="field">
    <%= form.label :toilet %>
    <%= form.text_field :toilet %>
  </div>

  <div class="field">
    <%= form.label :sewage_connection %>
    <%= form.text_field :sewage_connection %>
  </div>

  <div class="field">
    <%= form.label :bathing %>
    <%= form.text_field :bathing %>
  </div>

  <div class="field">
    <%= form.label :kitchen %>
    <%= form.text_field :kitchen %>
  </div>

  <div class="field">
    <%= form.label :cooking_fuel %>
    <%= form.text_field :cooking_fuel %>
  </div>

  <div class="field">
    <%= form.label :radio %>
    <%= form.text_field :radio %>
  </div>

  <div class="field">
    <%= form.label :television %>
    <%= form.text_field :television %>
  </div>

  <div class="field">
    <%= form.label :computer %>
    <%= form.text_field :computer %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :bicycle %>
    <%= form.text_field :bicycle %>
  </div>

  <div class="field">
    <%= form.label :moped %>
    <%= form.text_field :moped %>
  </div>

  <div class="field">
    <%= form.label :car %>
    <%= form.text_field :car %>
  </div>

  <div class="field">
    <%= form.label :banking %>
    <%= form.text_field :banking %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
