<p id="notice"><%= notice %></p>

<h1>Entry Houses</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Housing schedule</th>
      <th>Census house number</th>
      <th>Predominant material floor</th>
      <th>Predominant material wall</th>
      <th>Predominant material roof</th>
      <th>House use</th>
      <th>Actual house use</th>
      <th>Condition</th>
      <th>House number</th>
      <th>Residing m</th>
      <th>Residing f</th>
      <th>Residing o</th>
      <th>House head</th>
      <th>Gender</th>
      <th>Backward</th>
      <th>Ownership</th>
      <th>Dwelling rooms</th>
      <th>Married couples</th>
      <th>Drinking water</th>
      <th>Lighting</th>
      <th>Toilet</th>
      <th>Sewage connection</th>
      <th>Bathing</th>
      <th>Kitchen</th>
      <th>Cooking fuel</th>
      <th>Radio</th>
      <th>Television</th>
      <th>Computer</th>
      <th>Telephone</th>
      <th>Bicycle</th>
      <th>Moped</th>
      <th>Car</th>
      <th>Banking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_houses.each do |entry_house| %>
      <tr>
        <td><%= entry_house.address %></td>
        <td><%= entry_house.housing_schedule %></td>
        <td><%= entry_house.census_house_number %></td>
        <td><%= entry_house.predominant_material_floor %></td>
        <td><%= entry_house.predominant_material_wall %></td>
        <td><%= entry_house.predominant_material_roof %></td>
        <td><%= entry_house.house_use %></td>
        <td><%= entry_house.actual_house_use %></td>
        <td><%= entry_house.condition %></td>
        <td><%= entry_house.house_number %></td>
        <td><%= entry_house.residing_m %></td>
        <td><%= entry_house.residing_f %></td>
        <td><%= entry_house.residing_o %></td>
        <td><%= entry_house.house_head %></td>
        <td><%= entry_house.gender %></td>
        <td><%= entry_house.backward %></td>
        <td><%= entry_house.ownership %></td>
        <td><%= entry_house.dwelling_rooms %></td>
        <td><%= entry_house.married_couples %></td>
        <td><%= entry_house.drinking_water %></td>
        <td><%= entry_house.lighting %></td>
        <td><%= entry_house.toilet %></td>
        <td><%= entry_house.sewage_connection %></td>
        <td><%= entry_house.bathing %></td>
        <td><%= entry_house.kitchen %></td>
        <td><%= entry_house.cooking_fuel %></td>
        <td><%= entry_house.radio %></td>
        <td><%= entry_house.television %></td>
        <td><%= entry_house.computer %></td>
        <td><%= entry_house.telephone %></td>
        <td><%= entry_house.bicycle %></td>
        <td><%= entry_house.moped %></td>
        <td><%= entry_house.car %></td>
        <td><%= entry_house.banking %></td>
        <td><%= link_to 'Show', entry_house %></td>
        <td><%= link_to 'Edit', edit_entry_house_path(entry_house) %></td>
        <td><%= link_to 'Destroy', entry_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry House', new_entry_house_path %>
