<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @entry_house.address %>
</p>

<p>
  <strong>Housing schedule:</strong>
  <%= @entry_house.housing_schedule %>
</p>

<p>
  <strong>Census house number:</strong>
  <%= @entry_house.census_house_number %>
</p>

<p>
  <strong>Predominant material floor:</strong>
  <%= @entry_house.predominant_material_floor %>
</p>

<p>
  <strong>Predominant material wall:</strong>
  <%= @entry_house.predominant_material_wall %>
</p>

<p>
  <strong>Predominant material roof:</strong>
  <%= @entry_house.predominant_material_roof %>
</p>

<p>
  <strong>House use:</strong>
  <%= @entry_house.house_use %>
</p>

<p>
  <strong>Actual house use:</strong>
  <%= @entry_house.actual_house_use %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @entry_house.condition %>
</p>

<p>
  <strong>House number:</strong>
  <%= @entry_house.house_number %>
</p>

<p>
  <strong>Residing m:</strong>
  <%= @entry_house.residing_m %>
</p>

<p>
  <strong>Residing f:</strong>
  <%= @entry_house.residing_f %>
</p>

<p>
  <strong>Residing o:</strong>
  <%= @entry_house.residing_o %>
</p>

<p>
  <strong>House head:</strong>
  <%= @entry_house.house_head %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @entry_house.gender %>
</p>

<p>
  <strong>Backward:</strong>
  <%= @entry_house.backward %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @entry_house.ownership %>
</p>

<p>
  <strong>Dwelling rooms:</strong>
  <%= @entry_house.dwelling_rooms %>
</p>

<p>
  <strong>Married couples:</strong>
  <%= @entry_house.married_couples %>
</p>

<p>
  <strong>Drinking water:</strong>
  <%= @entry_house.drinking_water %>
</p>

<p>
  <strong>Lighting:</strong>
  <%= @entry_house.lighting %>
</p>

<p>
  <strong>Toilet:</strong>
  <%= @entry_house.toilet %>
</p>

<p>
  <strong>Sewage connection:</strong>
  <%= @entry_house.sewage_connection %>
</p>

<p>
  <strong>Bathing:</strong>
  <%= @entry_house.bathing %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @entry_house.kitchen %>
</p>

<p>
  <strong>Cooking fuel:</strong>
  <%= @entry_house.cooking_fuel %>
</p>

<p>
  <strong>Radio:</strong>
  <%= @entry_house.radio %>
</p>

<p>
  <strong>Television:</strong>
  <%= @entry_house.television %>
</p>

<p>
  <strong>Computer:</strong>
  <%= @entry_house.computer %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @entry_house.telephone %>
</p>

<p>
  <strong>Bicycle:</strong>
  <%= @entry_house.bicycle %>
</p>

<p>
  <strong>Moped:</strong>
  <%= @entry_house.moped %>
</p>

<p>
  <strong>Car:</strong>
  <%= @entry_house.car %>
</p>

<p>
  <strong>Banking:</strong>
  <%= @entry_house.banking %>
</p>

<%= link_to 'Edit', edit_entry_house_path(@entry_house) %> |
<%= link_to 'Back', entry_houses_path %>
