<%= form_with(model: petition, local: true) do |form| %>
  <% if petition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

      <ul>
      <% petition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :form_number %>
    <%= form.text_field :form_number %>
  </div>

  <div class="field">
    <%= form.label :form_type %>
    <%= form.text_field :form_type %>
  </div>

  <div class="field">
    <%= form.label :form %>
    <%= form.number_field :form %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="field">
    <%= form.label :timestamp %>
    <%= form.datetime_select :timestamp %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="field">
    <%= form.label :officer %>
    <%= form.number_field :officer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
