<p id="notice"><%= notice %></p>

<h1>Petitions</h1>

<table>
  <thead>
    <tr>
      <th>Form number</th>
      <th>Form type</th>
      <th>Form</th>
      <th>Details</th>
      <th>Timestamp</th>
      <th>Status</th>
      <th>Message</th>
      <th>Officer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petitions.each do |petition| %>
      <tr>
        <td><%= petition.form_number %></td>
        <td><%= petition.form_type %></td>
        <td><%= petition.form %></td>
        <td><%= petition.details %></td>
        <td><%= petition.timestamp %></td>
        <td><%= petition.status %></td>
        <td><%= petition.message %></td>
        <td><%= petition.officer %></td>
        <td><%= link_to 'Show', petition %></td>
        <td><%= link_to 'Edit', edit_petition_path(petition) %></td>
        <td><%= link_to 'Destroy', petition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition', new_petition_path %>
