<p id="notice"><%= notice %></p>

<p>
  <strong>Form number:</strong>
  <%= @petition.form_number %>
</p>

<p>
  <strong>Form type:</strong>
  <%= @petition.form_type %>
</p>

<p>
  <strong>Form:</strong>
  <%= @petition.form %>
</p>

<p>
  <strong>Details:</strong>
  <%= @petition.details %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @petition.timestamp %>
</p>

<p>
  <strong>Status:</strong>
  <%= @petition.status %>
</p>

<p>
  <strong>Message:</strong>
  <%= @petition.message %>
</p>

<p>
  <strong>Officer:</strong>
  <%= @petition.officer %>
</p>

<%= link_to 'Edit', edit_petition_path(@petition) %> |
<%= link_to 'Back', petitions_path %>
