<%= form_with(model: entry_person, local: true) do |form| %>
  <% if entry_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry_person.errors.count, "error") %> prohibited this entry_person from being saved:</h2>

      <ul>
      <% entry_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :household_schedule %>
    <%= form.number_field :household_schedule %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :is_head %>
    <%= form.check_box :is_head %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :marital_status %>
    <%= form.text_field :marital_status %>
  </div>

  <div class="field">
    <%= form.label :age_at_marriage %>
    <%= form.text_field :age_at_marriage %>
  </div>

  <div class="field">
    <%= form.label :religion %>
    <%= form.text_field :religion %>
  </div>

  <div class="field">
    <%= form.label :backward %>
    <%= form.text_field :backward %>
  </div>

  <div class="field">
    <%= form.label :disability %>
    <%= form.text_field :disability %>
  </div>

  <div class="field">
    <%= form.label :is_literate %>
    <%= form.check_box :is_literate %>
  </div>

  <div class="field">
    <%= form.label :attendence %>
    <%= form.text_field :attendence %>
  </div>

  <div class="field">
    <%= form.label :highest_education %>
    <%= form.text_field :highest_education %>
  </div>

  <div class="field">
    <%= form.label :employment_status %>
    <%= form.text_field :employment_status %>
  </div>

  <div class="field">
    <%= form.label :employment_type %>
    <%= form.text_field :employment_type %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.text_field :occupation %>
  </div>

  <div class="field">
    <%= form.label :company_type %>
    <%= form.text_field :company_type %>
  </div>

  <div class="field">
    <%= form.label :employee_class %>
    <%= form.text_field :employee_class %>
  </div>

  <div class="field">
    <%= form.label :non_economic_activity %>
    <%= form.text_field :non_economic_activity %>
  </div>

  <div class="field">
    <%= form.label :employment_seeking %>
    <%= form.check_box :employment_seeking %>
  </div>

  <div class="field">
    <%= form.label :mode_of_travel %>
    <%= form.text_field :mode_of_travel %>
  </div>

  <div class="field">
    <%= form.label :birth_place %>
    <%= form.number_field :birth_place %>
  </div>

  <div class="field">
    <%= form.label :last_residence %>
    <%= form.text_field :last_residence %>
  </div>

  <div class="field">
    <%= form.label :residing_since %>
    <%= form.text_field :residing_since %>
  </div>

  <div class="field">
    <%= form.label :migration_reason %>
    <%= form.text_area :migration_reason %>
  </div>

  <div class="field">
    <%= form.label :surviving_d %>
    <%= form.number_field :surviving_d %>
  </div>

  <div class="field">
    <%= form.label :surviving_s %>
    <%= form.number_field :surviving_s %>
  </div>

  <div class="field">
    <%= form.label :born_d %>
    <%= form.number_field :born_d %>
  </div>

  <div class="field">
    <%= form.label :born_s %>
    <%= form.number_field :born_s %>
  </div>

  <div class="field">
    <%= form.label :recent_birth_d %>
    <%= form.number_field :recent_birth_d %>
  </div>

  <div class="field">
    <%= form.label :recent_birth_s %>
    <%= form.number_field :recent_birth_s %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
