<p id="notice"><%= notice %></p>

<h1>Entry People</h1>

<table>
  <thead>
    <tr>
      <th>Household schedule</th>
      <th>Name</th>
      <th>Is head</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Age</th>
      <th>Marital status</th>
      <th>Age at marriage</th>
      <th>Religion</th>
      <th>Backward</th>
      <th>Disability</th>
      <th>Is literate</th>
      <th>Attendence</th>
      <th>Highest education</th>
      <th>Employment status</th>
      <th>Employment type</th>
      <th>Occupation</th>
      <th>Company type</th>
      <th>Employee class</th>
      <th>Non economic activity</th>
      <th>Employment seeking</th>
      <th>Mode of travel</th>
      <th>Birth place</th>
      <th>Last residence</th>
      <th>Residing since</th>
      <th>Migration reason</th>
      <th>Surviving d</th>
      <th>Surviving s</th>
      <th>Born d</th>
      <th>Born s</th>
      <th>Recent birth d</th>
      <th>Recent birth s</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_people.each do |entry_person| %>
      <tr>
        <td><%= entry_person.household_schedule %></td>
        <td><%= entry_person.name %></td>
        <td><%= entry_person.is_head %></td>
        <td><%= entry_person.gender %></td>
        <td><%= entry_person.date_of_birth %></td>
        <td><%= entry_person.age %></td>
        <td><%= entry_person.marital_status %></td>
        <td><%= entry_person.age_at_marriage %></td>
        <td><%= entry_person.religion %></td>
        <td><%= entry_person.backward %></td>
        <td><%= entry_person.disability %></td>
        <td><%= entry_person.is_literate %></td>
        <td><%= entry_person.attendence %></td>
        <td><%= entry_person.highest_education %></td>
        <td><%= entry_person.employment_status %></td>
        <td><%= entry_person.employment_type %></td>
        <td><%= entry_person.occupation %></td>
        <td><%= entry_person.company_type %></td>
        <td><%= entry_person.employee_class %></td>
        <td><%= entry_person.non_economic_activity %></td>
        <td><%= entry_person.employment_seeking %></td>
        <td><%= entry_person.mode_of_travel %></td>
        <td><%= entry_person.birth_place %></td>
        <td><%= entry_person.last_residence %></td>
        <td><%= entry_person.residing_since %></td>
        <td><%= entry_person.migration_reason %></td>
        <td><%= entry_person.surviving_d %></td>
        <td><%= entry_person.surviving_s %></td>
        <td><%= entry_person.born_d %></td>
        <td><%= entry_person.born_s %></td>
        <td><%= entry_person.recent_birth_d %></td>
        <td><%= entry_person.recent_birth_s %></td>
        <td><%= link_to 'Show', entry_person %></td>
        <td><%= link_to 'Edit', edit_entry_person_path(entry_person) %></td>
        <td><%= link_to 'Destroy', entry_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry Person', new_entry_person_path %>
