<p id="notice"><%= notice %></p>

<p>
  <strong>Household schedule:</strong>
  <%= @entry_person.household_schedule %>
</p>

<p>
  <strong>Name:</strong>
  <%= @entry_person.name %>
</p>

<p>
  <strong>Is head:</strong>
  <%= @entry_person.is_head %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @entry_person.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @entry_person.date_of_birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @entry_person.age %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @entry_person.marital_status %>
</p>

<p>
  <strong>Age at marriage:</strong>
  <%= @entry_person.age_at_marriage %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @entry_person.religion %>
</p>

<p>
  <strong>Backward:</strong>
  <%= @entry_person.backward %>
</p>

<p>
  <strong>Disability:</strong>
  <%= @entry_person.disability %>
</p>

<p>
  <strong>Is literate:</strong>
  <%= @entry_person.is_literate %>
</p>

<p>
  <strong>Attendence:</strong>
  <%= @entry_person.attendence %>
</p>

<p>
  <strong>Highest education:</strong>
  <%= @entry_person.highest_education %>
</p>

<p>
  <strong>Employment status:</strong>
  <%= @entry_person.employment_status %>
</p>

<p>
  <strong>Employment type:</strong>
  <%= @entry_person.employment_type %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @entry_person.occupation %>
</p>

<p>
  <strong>Company type:</strong>
  <%= @entry_person.company_type %>
</p>

<p>
  <strong>Employee class:</strong>
  <%= @entry_person.employee_class %>
</p>

<p>
  <strong>Non economic activity:</strong>
  <%= @entry_person.non_economic_activity %>
</p>

<p>
  <strong>Employment seeking:</strong>
  <%= @entry_person.employment_seeking %>
</p>

<p>
  <strong>Mode of travel:</strong>
  <%= @entry_person.mode_of_travel %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @entry_person.birth_place %>
</p>

<p>
  <strong>Last residence:</strong>
  <%= @entry_person.last_residence %>
</p>

<p>
  <strong>Residing since:</strong>
  <%= @entry_person.residing_since %>
</p>

<p>
  <strong>Migration reason:</strong>
  <%= @entry_person.migration_reason %>
</p>

<p>
  <strong>Surviving d:</strong>
  <%= @entry_person.surviving_d %>
</p>

<p>
  <strong>Surviving s:</strong>
  <%= @entry_person.surviving_s %>
</p>

<p>
  <strong>Born d:</strong>
  <%= @entry_person.born_d %>
</p>

<p>
  <strong>Born s:</strong>
  <%= @entry_person.born_s %>
</p>

<p>
  <strong>Recent birth d:</strong>
  <%= @entry_person.recent_birth_d %>
</p>

<p>
  <strong>Recent birth s:</strong>
  <%= @entry_person.recent_birth_s %>
</p>

<%= link_to 'Edit', edit_entry_person_path(@entry_person) %> |
<%= link_to 'Back', entry_people_path %>
