<%= form_with(model: language, local: true) do |form| %>
  <% if language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entry_person %>
    <%= form.number_field :entry_person %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :canRead %>
    <%= form.check_box :canRead %>
  </div>

  <div class="field">
    <%= form.label :canWrite %>
    <%= form.check_box :canWrite %>
  </div>

  <div class="field">
    <%= form.label :canSpeak %>
    <%= form.check_box :canSpeak %>
  </div>

  <div class="field">
    <%= form.label :isMotherTongue %>
    <%= form.check_box :isMotherTongue %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
