<p id="notice"><%= notice %></p>

<h1>Languages</h1>

<table>
  <thead>
    <tr>
      <th>Entry person</th>
      <th>Language</th>
      <th>Canread</th>
      <th>Canwrite</th>
      <th>Canspeak</th>
      <th>Ismothertongue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.entry_person %></td>
        <td><%= language.language %></td>
        <td><%= language.canRead %></td>
        <td><%= language.canWrite %></td>
        <td><%= language.canSpeak %></td>
        <td><%= language.isMotherTongue %></td>
        <td><%= link_to 'Show', language %></td>
        <td><%= link_to 'Edit', edit_language_path(language) %></td>
        <td><%= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language', new_language_path %>
