<p id="notice"><%= notice %></p>

<p>
  <strong>Entry person:</strong>
  <%= @language.entry_person %>
</p>

<p>
  <strong>Language:</strong>
  <%= @language.language %>
</p>

<p>
  <strong>Canread:</strong>
  <%= @language.canRead %>
</p>

<p>
  <strong>Canwrite:</strong>
  <%= @language.canWrite %>
</p>

<p>
  <strong>Canspeak:</strong>
  <%= @language.canSpeak %>
</p>

<p>
  <strong>Ismothertongue:</strong>
  <%= @language.isMotherTongue %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
