<%= form_with(model: housing_schedule, local: true) do |form| %>
  <% if housing_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(housing_schedule.errors.count, "error") %> prohibited this housing_schedule from being saved:</h2>

      <ul>
      <% housing_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.number_field :address %>
  </div>

  <div class="field">
    <%= form.label :form_number %>
    <%= form.text_field :form_number %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :enumeration_block_number %>
    <%= form.text_field :enumeration_block_number %>
  </div>

  <div class="field">
    <%= form.label :enumeration_sub_block_number %>
    <%= form.text_field :enumeration_sub_block_number %>
  </div>

  <div class="field">
    <%= form.label :houselist_block_number %>
    <%= form.text_field :houselist_block_number %>
  </div>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>

  <div class="field">
    <%= form.label :respondent %>
    <%= form.text_field :respondent %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :enumerator %>
    <%= form.number_field :enumerator %>
  </div>

  <div class="field">
    <%= form.label :supervisor %>
    <%= form.number_field :supervisor %>
  </div>

  <div class="field">
    <%= form.label :filing_date %>
    <%= form.datetime_select :filing_date %>
  </div>

  <div class="field">
    <%= form.label :census %>
    <%= form.number_field :census %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
