<p id="notice"><%= notice %></p>

<h1>Housing Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Form number</th>
      <th>Status</th>
      <th>Enumeration block number</th>
      <th>Enumeration sub block number</th>
      <th>Houselist block number</th>
      <th>Serial number</th>
      <th>Respondent</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Enumerator</th>
      <th>Supervisor</th>
      <th>Filing date</th>
      <th>Census</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housing_schedules.each do |housing_schedule| %>
      <tr>
        <td><%= housing_schedule.address %></td>
        <td><%= housing_schedule.form_number %></td>
        <td><%= housing_schedule.status %></td>
        <td><%= housing_schedule.enumeration_block_number %></td>
        <td><%= housing_schedule.enumeration_sub_block_number %></td>
        <td><%= housing_schedule.houselist_block_number %></td>
        <td><%= housing_schedule.serial_number %></td>
        <td><%= housing_schedule.respondent %></td>
        <td><%= housing_schedule.email %></td>
        <td><%= housing_schedule.phone %></td>
        <td><%= housing_schedule.enumerator %></td>
        <td><%= housing_schedule.supervisor %></td>
        <td><%= housing_schedule.filing_date %></td>
        <td><%= housing_schedule.census %></td>
        <td><%= link_to 'Show', housing_schedule %></td>
        <td><%= link_to 'Edit', edit_housing_schedule_path(housing_schedule) %></td>
        <td><%= link_to 'Destroy', housing_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housing Schedule', new_housing_schedule_path %>
