<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @housing_schedule.address %>
</p>

<p>
  <strong>Form number:</strong>
  <%= @housing_schedule.form_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @housing_schedule.status %>
</p>

<p>
  <strong>Enumeration block number:</strong>
  <%= @housing_schedule.enumeration_block_number %>
</p>

<p>
  <strong>Enumeration sub block number:</strong>
  <%= @housing_schedule.enumeration_sub_block_number %>
</p>

<p>
  <strong>Houselist block number:</strong>
  <%= @housing_schedule.houselist_block_number %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @housing_schedule.serial_number %>
</p>

<p>
  <strong>Respondent:</strong>
  <%= @housing_schedule.respondent %>
</p>

<p>
  <strong>Email:</strong>
  <%= @housing_schedule.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @housing_schedule.phone %>
</p>

<p>
  <strong>Enumerator:</strong>
  <%= @housing_schedule.enumerator %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @housing_schedule.supervisor %>
</p>

<p>
  <strong>Filing date:</strong>
  <%= @housing_schedule.filing_date %>
</p>

<p>
  <strong>Census:</strong>
  <%= @housing_schedule.census %>
</p>

<%= link_to 'Edit', edit_housing_schedule_path(@housing_schedule) %> |
<%= link_to 'Back', housing_schedules_path %>
