<p id="notice"><%= notice %></p>

<h1>Sub Districts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Population</th>
      <th>Area</th>
      <th>Density</th>
      <th>District</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_districts.each do |sub_district| %>
      <tr>
        <td><%= sub_district.name %></td>
        <td><%= sub_district.population %></td>
        <td><%= sub_district.area %></td>
        <td><%= sub_district.density %></td>
        <td><%= sub_district.district %></td>
        <td><%= link_to 'Show', sub_district %></td>
        <td><%= link_to 'Edit', edit_sub_district_path(sub_district) %></td>
        <td><%= link_to 'Destroy', sub_district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub District', new_sub_district_path %>
