<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_district.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @sub_district.population %>
</p>

<p>
  <strong>Area:</strong>
  <%= @sub_district.area %>
</p>

<p>
  <strong>Density:</strong>
  <%= @sub_district.density %>
</p>

<p>
  <strong>District:</strong>
  <%= @sub_district.district %>
</p>

<%= link_to 'Edit', edit_sub_district_path(@sub_district) %> |
<%= link_to 'Back', sub_districts_path %>
