<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @district.population %>
</p>

<p>
  <strong>Area:</strong>
  <%= @district.area %>
</p>

<p>
  <strong>Density:</strong>
  <%= @district.density %>
</p>

<p>
  <strong>State:</strong>
  <%= @district.state %>
</p>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
