<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :house_number %>
    <%= form.text_field :house_number %>
  </div>

  <div class="field">
    <%= form.label :first_line %>
    <%= form.text_field :first_line %>
  </div>

  <div class="field">
    <%= form.label :locality %>
    <%= form.text_field :locality %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :sub_district %>
    <%= form.number_field :sub_district %>
  </div>

  <div class="field">
    <%= form.label :ward_number %>
    <%= form.text_field :ward_number %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
