<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>House number</th>
      <th>First line</th>
      <th>Locality</th>
      <th>City</th>
      <th>Sub district</th>
      <th>Ward number</th>
      <th>Postal code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.house_number %></td>
        <td><%= address.first_line %></td>
        <td><%= address.locality %></td>
        <td><%= address.city %></td>
        <td><%= address.sub_district %></td>
        <td><%= address.ward_number %></td>
        <td><%= address.postal_code %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
