<p id="notice"><%= notice %></p>

<p>
  <strong>House number:</strong>
  <%= @address.house_number %>
</p>

<p>
  <strong>First line:</strong>
  <%= @address.first_line %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @address.locality %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Sub district:</strong>
  <%= @address.sub_district %>
</p>

<p>
  <strong>Ward number:</strong>
  <%= @address.ward_number %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @address.postal_code %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
