<p id="notice"><%= notice %></p>

<p>
  <strong>Officer:</strong>
  <%= @log.officer %>
</p>

<p>
  <strong>Details:</strong>
  <%= @log.details %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @log.timestamp %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
